/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
    Authors Imports
   ========================================================================== */

@font-face {
    font-family: "28 Days Later";
    src: url('../fonts/28 Days Later.ttf');
}

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/*body {
    background: url("../img/dayz-background.jpg") center top no-repeat;
    background-attachment: fixed;
}

#wrapper {
    width: 940px;
    margin: 0 auto 0 auto;
    background-color: #f1f1f1;
}*/

header {
    position: fixed;
    background-color: #2d2d2d;
    width: 100%;
    outline: solid 2px #f00;
    z-index: 1;
}

header h1 {
    color: #f2f2f2;
}

/* Navigation Styling */

nav {
    margin: 0 auto;
    max-width: 1100px;
    min-width: 940px;
    background-color: #2d2d2d;
    height: 40px;
    border-left: 2px solid #ff0000;
    border-right: 2px solid #ff0000;
}

#page-nav {
    width: 940px;
}

nav ul {
    font-size: 20px;
    margin: 0;
    padding: 0;
    list-style: none;
}

nav ul li {
    display: block;
    position: relative;
    float: left;
    font-family: "28 Days Later";
    border-right: 2px solid #ff0000;
}

nav li ul {
    display: none;
}

nav ul li a {
    display: block;
    text-decoration: none;
    padding: 7px 15px 3px 15px;
    background: #2d2d2d;
    color: #f1f1f1;
    margin-left: 1px;
    white-space: nowrap;
    height: 30px;
    width: 130px;
    text-align: center;
}

nav ul li a:visited {
    color: #f2f2f2;
}

nav li:hover a {
    background: #000;
    height: 30px;
}

/* End Navigation Styling */
h1, h2, h3 {
    font-family: "28 Days Later";
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 24px;
}

/* Main Content Area Styling */

#container img {
    padding: 5px;
}

#container figure {
    margin: 10px;
    float: right;
    text-align: center;
    border: 2px solid #c00000;
}

#container figure figcaption {
    font-size: 0.9em;
}

#container article a {
    color: #c00000;
    font-weight: bold;
}

#container a:visited {
    color: #9b0000
}

main {
    padding: 20px;
    border-right: 2px solid #ff0000;
    border-left: 2px solid #ff0000;
}

main img {
    padding: 5px;

}

main figure {
    margin: 10px;
    float: right;
    text-align: center;
    border: 2px solid #c00000;
}

main figure figcaption {
    font-size: 0.9em;
}

article a {
    color: #c00000;
    font-weight: bold;
}

article a:visited {
    color: #9b0000
}

#loginPage {
    margin-top: 125px;
}

#admin-area {
    margin-top: 25px;
}

.imgborder {
    border: 2px solid #c00000;
    background: #f1f1f1;
}

.fullheader #home {
    min-width: 800px;
    max-width: 1200px;
    background-color: #f1f1f1;
    color: #2d2d2d;
    padding: 10px;
}

.fullheader {
    width: 916px;
    background-color: #2d2d2d;
    color: #f1f1f1;
    margin-left: -20px;
    padding: 10px;
}

.note {
    font-weight: bold;
}

/* End Main Styling */

/* Contact Form Styling */


form {
    margin: 0 auto;
    width: 100%;
}

label {
    display: block;
    margin-top: 20px;
    letter-spacing: 2px;
    font-weight: bold;
}

input, textarea {
    width: 99%;
    height: 30px;
    background: #f2f2f2;
    border: 2px solid #ff0000;
    padding: 5px;
    margin-top: 3px;
    color: #2d2d2d;
}

textarea {
    height: 300px;

}

#submit {
    width: 100%;
    height: 40px;
    margin: 20px auto 0 auto;
    background-color: #3d3d3d;
    color: #f2f2f2;
    font-family: "28 Days Later";
    font-size: 1.4em;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}

.submit:hover {
    opacity: .9;
}

input:focus, textarea:focus {
    border: 2px solid #f1f1f1;
}

/* Table Styling */
table {
    padding: 10px;
    width: 100%;
    border: 1px solid #000;
}

tr {
    border-bottom: 1px solid #000;
}

th, td {
    padding: 5px;
    border-right: 1px solid #000;
}
/* End table styling */

/* Positioning and Extra Random Styling */
.imgright {
    float: right;
}

.imgleft {
    float: left;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.center {
    text-align: center
}

.error {
    font-size: 22px;
    color: red;
    font-weight: bold;
    text-align: center;
}

.protip {
    font-weight: bold;
    text-align: center;
    color: #f00 !important;
}

/* End Extra Styling */

.content-box {
    margin: 10px 200px 10px 300px;
    text-align: justify;
    background-color: #2d2d2d;
    color: #f2f2f2;
    width: 700px;
    padding: 5px 20px;
    border: 1px solid #f00;
    box-shadow: 8px 8px 8px #2f2f2f;
    -moz-border-radius: 35px 0px 35px 0px;
    -moz-box-shadow: 8px 8px 8px #2f2f2f;
    -moz-border-radius-bottomright: 35px;
    -webkit-box-shadow: 8px 8px 8px #2f2f2f;
    -webkit-border-bottom-right-radius: 35px;
    -webkit-border-top-left-radius: 35px;
}

.journal {
    height: 1000px;
    padding: 0;
    margin: 0;
    width: 100%;
    max-width: 1920px;
    position: relative;
    margin: 0 auto;
    border-bottom: 2px solid #f00;
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
}

#one {
    background: url(../img/background.jpg) 50% 0 no-repeat fixed;
}

#two {
    background: url(../img/background2.jpg) 50% 0 no-repeat fixed;
}

#three {
    background: url(../img/background3.jpg) 50% 0 no-repeat fixed;
}

#four {
    background: url(../img/background4.jpg) 50% 0 no-repeat fixed;
}

#five {
    background: url(../img/background9.png) 50% 0 no-repeat fixed;
}

#six {
    background: url(../img/background7.jpg) 90% bottom no-repeat fixed;
    border-bottom: none;
}

#one h1 {
    background-color: #2d2d2d;
    color: #f2f2f2;
    width: 700px;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid #f00;
    font-size: 44px;
}

#one .titleScroll {
    background: url(../img/dayz-survival-guide-logo.png) 50% 50px no-repeat fixed;
    min-height: 1000px;
    padding: 0;
    margin: 0;
    width: 100%;
    max-width: 1920px;
    position: relative;
    margin: 0 auto;
}

#one img {
    margin-top: 45px;
}

#one article {
    width: 100%;
    top: 500px;
    position: absolute;
    text-align: center;
}

#one article p {
    margin: 10px auto 20px auto;
    color: #f2f2f2;
}

#one article a {
    color: #f00;
    font-weight: bold;
}

#one article a {
    text-decoration: none;
}

#one article a:hover {
    color: #c00;
}

#six, #five, #four, #three, #two {
    padding: 50px 0;
}

#six .theEnd {
    height: 1000px;
    padding: 0;
    margin: 0;
    width: 100%;
    max-width: 1920px;
    position: relative;
    margin: 0 auto;
}

#six article, #five article, #four article, #three article, #two article {
    background-color: #2d2d2d;
    color: #f2f2f2;
    /*min-width: 960px;*/
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 20px;
    text-shadow: 0 -1 0 rgba(0,0,0,0.5);
    line-height: 1.5em;
    border: 2px solid #f00;
    box-shadow: 8px 8px 8px ##2f2f2f;
    -moz-border-radius: 35px 0px 35px 0px;
    -moz-box-shadow: 8px 8px 8px #2f2f2f;
    -moz-border-radius-bottomright: 35px;
    -webkit-box-shadow: 8px 8px 8px #2f2f2f;
    -webkit-border-bottom-right-radius: 35px;
    -webkit-border-top-left-radius: 35px;
}

#six article p {
    margin-bottom: 25px;
}

/*
section {
    padding: 50px 0;
}
*/
/*article {
    background-color: #2d2d2d;
    color: #f2f2f2;
    width: 445px;
    margin-left: 100px;
    padding: 10px 20px;
    text-shadow: 0 -1 0 rgba(0,0,0,0.5);
    line-height: 1.5em;
    box-shadow: 0 0 25px rgba(0,0,0,0.3);
    border: 2px solid #f00;
}

*/

footer {
    height: 20px;
    color: #f1f1f1;
    background-color: #2d2d2d;
    padding: 20px;
    border: 2px solid #ff0000;
    padding: 10px;
}

footer a {
    color: #f00;
}








/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
